* {
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
     font-family: "Poppins" , sans-serif;
}

body {
     background-color: #fff;
     color: #333;
}

header {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 1rem 0;
     background-color: #fff;
}

.logo {
     display: flex;
     align-items: center;
     gap: 10px;
}

.logo img {
     width: 80px;
     height: 80px;
}

.logo h1 {
     font-size: 1.8rem;
     letter-spacing: 2px;
}

nav ul {
     list-style: none;
     display: flex;
     background-color: #111;
     padding: 10px 0;
     margin-top: 10px;
     border-radius: 25px;
}

nav ul li {
     margin: 0 20px;
}

nav ul li a {
     color: white;
     text-decoration: none;
     font-weight: 500;
     transition: color 0.2s;
}

nav ul li a:hover {
     color: gray;
}

.hero {
     background-image: url('main.jpg');
     background-size: cover;
     background-position: center;
     color: white;
     text-align: left;
     padding: 3rem 2rem;
     border-radius: 15px;
     margin: 20px auto;
     width: 90%;
}

.hero-content {
     background-color: rgba(0, 0, 0, 0.6);
     padding: 1.5rem;
     border-radius: 10px;
     max-width: 500px;
}
.cards {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     margin: 30px auto;
     gap: 1rem;
}

.card {
     background-color: #f7f7f7;
     border-radius: 10px;
     padding: 1rem;
     width: 30%;
     min-width: 250px;
     box-shadow: 0 4px 6px rgba(0,0,0,80);
}    

.card img {
     width: 100%;
     border-radius: 10px;
     margin-bottom: 1rem;
}

.card h3 {
     color: #333;
     margin-bottom: 0.5rem;
}

.card p {
     font-size: 0.9rem;
     margin-bottom: 1rem;
}

.card a {
     color: #007bff;
     text-decoration: none;
     font-weight: 500;
}

.card a:hover {
     text-decoration: underline;
     color: beige
}

.hours {
     list-style: none;
     font-size: 0.9rem;
     line-height: 1.5;
}

footer {
     text-align: center;
     padding: 1rem;
     font-size: 0.9rem;
     color: #666;
     border-top: 1px solid #ddd;
     margin-top: 40px;
}

.hero-content {
     animation: pointdown 1000ms alternate-reverse infinite;
} 

@keyframes pointdown {
     from {
        transform: translateY(0);
     }
     to {
        transform: translateY(24px);
     }
}